DB_CHARSET=
DB_COLLATION=
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=
DISABLE_PWA=
GEMINI_API_KEY=
JWT_SECRET=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
PORT=3000
NODE_ENV=development
